<footer class="site-footer center-align">
    <span class="site-footer-owner">
        Made with&nbsp;
        <img
            src="{{ '/assets/heart.svg' | relative_url }}"
            alt="heart icon"
            width="16px"
        />&nbsp; by
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
    </span>
    <span class="site-footer-credits">
        <a href="https://linkedin.com/in/cybardev">Sheikh Saad Abdullah</a>, {{
        "now" | date: "%Y" }}
    </span>
</footer>
