---
---

// --------------------------------- Variables ---------------------------------
// Headers
$sakura-pink: #e2ade4;
$header-heading-color: white;
$header-bg-color: #dc3273;
$header-bg-color-secondary: $sakura-pink;
$header-bg-angle: 135deg;

// Text
$section-headings-color: white;
$body-text-color: #c4c4c4;
$body-link-color: $sakura-pink;
$blockquote-text-color: #afafaf;

// Code
$code-bg-color: black;
$code-text-color: #e2e2e2;

// Borders
$border-color: #cccccccc;
$table-border-color: #ebebecce;
$hr-border-color: #6d6d6d6d;

@import "{{ site.theme }}"; // import theme styles

// -------------------------------- Custom CSS ---------------------------------
body {
    background-color: black;
}

.page-header {
    background-image: linear-gradient(
        $header-bg-angle,
        $header-bg-color-secondary,
        $header-bg-color
    );
}

.main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

#projects > a {
    text-decoration: none;
}

details > summary {
    font-weight: bold;
    font-size: 1.15em;
}

details > summary:hover,
details > summary:active {
    cursor: pointer;
}

details > summary:hover,
details[open] > summary {
    color: hotpink;
}

details > summary:active {
    color: $sakura-pink;
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    @include large {
        width: 100px;
    }
}

.center-align {
    text-align: center;
}
