---
---

@import "{{ site.theme }}";

// custom CSS
details > summary {
    font-weight: bold;
    font-size: 1.15em;
}

details > summary:hover {
    cursor: pointer;
    color: #888;
}

details > summary:active {
    cursor: pointer;
    color: #555;
}

.center-align {
    text-align: center;
}
