---
---

@import "{{ site.theme }}";

// custom SCSS
$header-bg-color: #a0a0a0 !default;
$header-bg-color-secondary: #3d3d3d !default;

// custom CSS
details > summary {
    font-weight: bold;
    font-size: 1.15em;
}

details > summary:hover,
details > summary:active {
    cursor: pointer;
}

details > summary:hover {
    color: #888;
}

details > summary:active {
    color: #555;
}

.center-align {
    text-align: center;
}
